USE [master]
GO
/****** Object:  Database [ExamenFinal]    Script Date: 07/02/2025 16:44:56 ******/
CREATE DATABASE [ExamenFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamenFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ExamenFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamenFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ExamenFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamenFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamenFinal]
GO
/****** Object:  Table [dbo].[Autobus]    Script Date: 07/02/2025 16:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autobus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](20) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conductor]    Script Date: 07/02/2025 16:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conductor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Licencia] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ruta]    Script Date: 07/02/2025 16:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ruta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Kilometraje] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autobus] ON 

INSERT [dbo].[Autobus] ([ID], [Placa], [Modelo]) VALUES (1, N'A6344', N'Benz Sprinter')
INSERT [dbo].[Autobus] ([ID], [Placa], [Modelo]) VALUES (2, N'545HD', N'Volvo B7R')
SET IDENTITY_INSERT [dbo].[Autobus] OFF
GO
SET IDENTITY_INSERT [dbo].[Conductor] ON 

INSERT [dbo].[Conductor] ([ID], [Nombre], [Licencia]) VALUES (1, N'Humberto Flores', N'A1 Activa')
INSERT [dbo].[Conductor] ([ID], [Nombre], [Licencia]) VALUES (2, N'Juan González', N'A1 Activa')
INSERT [dbo].[Conductor] ([ID], [Nombre], [Licencia]) VALUES (3, N'José Calazacón', N'C Suspendida')
SET IDENTITY_INSERT [dbo].[Conductor] OFF
GO
SET IDENTITY_INSERT [dbo].[Ruta] ON 

INSERT [dbo].[Ruta] ([ID], [Nombre], [Kilometraje]) VALUES (1, N'Santo Domingo - Quito', CAST(151.50 AS Decimal(10, 2)))
INSERT [dbo].[Ruta] ([ID], [Nombre], [Kilometraje]) VALUES (2, N'Loja - Guayaquil', CAST(400.90 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ruta] OFF
GO
USE [master]
GO
